# Virtual environment
.venv/
venv/
env/

# Secrets
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS-specific
.DS_Store

# IDE configs
.vscode/
.idea/

# VectorDB or local data
*.db
*.sqlite
*.faiss
*.chroma/
*.jsonl
*.json
*.parquet
*.pdf
*.index

# Logs
*.log

