# Secrets
.venv
.env

# Caches / OS
__pycache__/
*.py[cod]
*.pyo
*.pyd
.ipynb_checkpoints
.DS_Store
.vscode/
.idea/

# Build logs
*.log

# Vector DBs (keep generic, but allow our tracked files)
*.db
*.sqlite
*.faiss
*.chroma/
*.jsonl
*.pdf


# Allow our app data
!data/
!data/index/
!data/processed/
!data/index/faiss.index
!data/index/metadata.parquet
!data/index/metadata.csv
!data/processed/contacts.json
